{{ define "main" }}
<div class="header">
    <p class="title">Filippo Brigati</p>
</div>
<p class="text">
    Hi, and welcome to my space on the web! I’m Filippo, a 22-year-old from Reggio Emilia, Italy.
</p>
<p class="text">
    For the past three years, I’ve been working as a web developer at GAB Tamagnini SRL, where I specialize in
    technologies like Angular, Node.js, .NET, and PostgreSQL. Recently, we’ve also been integrating Supabase into our
    stack. While working, I’m also pursuing a degree in <a target="_blank" href="https://corsi.unibo.it/laurea/InformaticaManagement" class="link">Computer Science</a> at the University of Bologna.
</p>
<p class="text">
    In my free time, I like reading (<a href="/books" class="link">here</a>, you can find a list of books I’ve read), hiking in the mountains,
    climbing, and playing beach volleyball. I also enjoy cycling around and spending time outdoors—being a scout has
    always been a big part of my life.
</p>

<p class="text">
    You can see my curriculum vitae here, I also have made some project that you can find on my GitHub profile.
</p>
{{ end }}