<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/style.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/books.css">
    <title>{{ block "title" . }}
        {{ .Site.Title }}
        {{ end }}
    </title>

    <!-- SEO Metadata -->
    <meta name="description" content="A collection of books I've read, curated by Filippo Brigati. Featuring personal favorites.">
    <meta name="keywords" content="Filippo Brigati, Books, Book List, Reading List, Favorite Books, Literature">
    <meta name="author" content="Filippo Brigati">
    <meta name="robots" content="index, follow">
</head>

<body>
    <div class="content">
        <div class="header">
            <div>
                <h1 class="title">{{ .Title }}</h1>
                <p class="text">{{ .Description }}</p>
            </div>
            <div>
                <a href="/">
                    <img src="/icons/home.svg" alt="Home" />
                </a>
            </div>
        </div>
        <div class="text">
            <div class="list-container">
                {{ range .Site.Data.books.books }}
                <div>
                    {{ if .favorite }}
                    <span class="favorite"> - </span>
                    {{ else }}
                    <span> - </span>
                    {{ end }}
                    <span class="text">
                        {{ .title }}
                        <small>({{ .author }})</small>
                    </span>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</body>

</html>
